/*1.*/
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto Sans TC:wght@400;500;800&family=Great+Vibes&family=Righteous&display=swap");

@font-face {
  font-family: RemachineScript;
  src: url(../webfonts/RemachineScript.ttf);
}

@font-face {
  font-family: SerandaniDemoRegular;
  src: url(../webfonts/SerandaniDemoRegular.ttf);
}

/*2.*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 50;
  line-height: 1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 0px;
  justify-content: space-between;
  color: rgba(221, 162, 95, 1);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 變數 */
:root {
  /* 灰階 */
  --pink: #8a2be2;
  --blue: #00008b;
  --antiquewhite: #a52a2a;
  --light: #ecfbff;
  /* 主色調 */
  --text-color: #492300;
  --accent-color: #5f6d37;
  --major-color: #bb6b25;
  --major-color2: #8d521e;
  --major-color3: #bc6c25;
  --second-color: #dda25f;
  /* 輔助色調 */
  --bg-color1: #fffcf5;
  --bg-color2: #fff8e4;
  --lasser-color: #e0e0e0;
  --a-color: rgba(252, 255, 232, 0.5);
}

/*3.網頁設計常用的設定，把原本的型態改掉*/
* {
  /*星號代表全域，全部領域*/
  box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累加*/
}

a {
  display: block;
  text-decoration: none;
  /*修改預設值underline*/
}

img {
  display: block;
  width: 100%;
}

#banner .slider figure {
  margin-top: 100px;
  width: 1020px;
  height: 868px;
  /* transform: scale(1.1); */
}


#gotop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  background-color: var(--major-color);
  border-radius: 50%;

  font-size: 40px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

/* 卷軸行為:滑動 */
/* html,body{
	scroll-behavior: smooth;
} */
body {
  font-family:
    /*西文*/
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中文*/
    "蘋方-繁",
    "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Noto Sans TC",
    sans-serif;
}

/* 導覽列 */
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* 預設值為0，數字越大排越上面 */

  display: center;
  justify-content: space-between;
  /* 主軸(水平)齊頭尾 */
  align-items: flex-start;
  /* 副軸(垂直)置中 */
  padding: 35px;
  background: var(--bg-color1);
  color: #dda25f;
}

body {
  background: var(--bg-color1);
}

#topbar .logo {
  width: 180px;
  margin-left: 30px;
}

#topbar nav {
  display: flex;
  flex-direction: row;
  /* 主軸(垂直) */
  /* align-items: flex-start;
  center */
  /* 副軸(水平)置底 */
  margin-right: 40px;
  /* background: var(--bg-color1); */
  color: rgba(221, 162, 95, 1);
  width: 1350px;
  height: 30px;
}
#topbar .menu2 {
  /* border: 1px solid red; */
  width: 90px;
  gap: 15px;
  margin-top: 20px;
  margin-left: auto;
  display: flex;
}

nav .icon {
  display: flex;
}

nav .icon a {
  /* 頁首頁尾共用 */
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: all 1s;
}

/* .nav_box {
  margin-right: 15rem;
} */
.menu {
  /* padding-right: 10rem; */
  gap: 20px;
  display: flex;
  margin-top: 8px;
  /* 玻璃擬態
      /* border: 1px solid rgba(255, 255, 255, 8);
      /* background-color: transparent;  */
  /*取消瀏覽器設定的預設值(有背景色) */
  /* background-image: linear-gradient(to bottom right, rgba(255,255,255,.3),rgba(255,255,255,6)); */
  /* box-shadow: 2px 2px 3px rgba(0, 0, 0, .1); inset: -1px -1px 1px rgba(255, 255, 255, .6);  */
}

.menu a {
  margin: 0 3rem 0 0.5rem;
  color: var(--second-color);
  font-weight: 400;
}

/* Menu各功能按鈕設定 */
.menu-aboutus {
  display: flex;
}

.menu-aboutgluten {
  display: flex;
}

.menu-purchase {
  display: flex;
}

.menu-recipe {
  display: flex;
}

.menu-comminity {
  display: flex;
}

/* 頁首頁尾共用區 */
.menu {
  display: flex;
  padding: 0 10rem 0rem 0rem;
  margin: 10px;

  /* 線跟字的距離 */
  color: var(--second-color);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
}

.menu a:hover {
  /*滑鼠滑過去變顏色*/
  color: var(--major-color);
}

@media (max-width: 640px) {
  #topbar {
    align-items: flex-start;
    padding: 25px;
  }

  @media (min-width: 641px) {
    #topbar .menu {
      /* 玻璃擬態 */
      border: 1px solid rgba(255, 255, 255, 8);
      /* background-color: transparent; */
      /*取消瀏覽器設定的預設值(有背景色) */
      /* background-image: linear-gradient(to bottom right,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.7)); */
      /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.671); */
      /* inset: -1px -1px 1px rgba(255, 255, 255, 0.7); */
    }
  }

  #topbar .hamburger {
    display: none;
  }

  @media (max-width: 768px

    /*平板的像素*/
  ) {
    .menu-aboutgluten .list-item:last-child {
      display: none;
    }

    .menu-aboutgluten p {
      -webkit-line-clamp: 9;
    }
  }

  #topbar .menu {
    flex-direction: column;
    display: flex;
    align-items: center;
    /* border-radius: 20px; */
    padding: 15px px;
    font-style: var(--second-color);
    color: #fffcf5;
  }

  #topbar .menu a {
    padding: 10px 0;
    margin-bottom: 20px;
    margin-left: 70px;
    font-style: var(--second-color);
    color: #fffcf5;
    line-height: 5px;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 50px;
    background-color: var(--bg-color1);
  }

  #topbar .icon {
    margin-bottom: 20px auto 0;
    order: 1;
    /* 排序交換，預設0，改為1後 */
  }

  #topbar .nav_box {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* 主軸:垂直 */
    /* align-items: flex-start; */
    /* 副軸(水平)置中 */
    color: rgba(221, 162, 95, 1);
  }

  #topbar .hamburger {
    display: inline-block;
    cursor: pointer;
    /*  修改button預設樣式  */
    background-color: transparent;
    border: none;
    padding: 0;
  }

  #topbar .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--major-color);
    margin: 5px auto;
    transition: 0.35s;
  }

  /* 三 變換為 X */
  .hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #topbar .navigation {
    /* display: none; */
    /* border-radius: 20px; */
    /* margin-top: 0px; */
    color: rgba(221, 162, 95, 1);
    animation: navigation 0.35s both;
    /* 玻璃擬態 */
    /* border: 3px solid var(--major-color); */
    background-color: var(--bg-color1);
    /*取消瀏覽器設定的預設值(有背景色) */
    /* background-image: linear-gradient(to bottom right,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.7)); */
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.671); */
    /* inset: -1px -1px 1px rgba(255, 255, 255, 0.7); */
  }

  @keyframes navigation {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  #topbar .navigation.show {
    display: flex;
    animation: show 0.35s both;
  }

  @keyframes show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.menu img {
  width: 30px;
  display: flex;
}

#aboutus {
  color: #bb6b25;
}

.aboutus-yam {
  position: absolute;
  width: 70px;
  height: 106px;
  left: 300px;
  top: 1150px;
}

.aboutus-cashew {
  position: absolute;
  width: 94px;
  height: 88px;
  left: 1150px;
  top: 1050px;
}

#banner img {
  width: 100%;
  height: 50vh;
  margin-top: 115px;
}

/* 主要內容區 */
section {
  display: flex;
  flex-direction: column;
  /* 主軸:垂直 */
  justify-content: center;
  /* 主軸:(置中)垂直 */
  /* align-items: center; */
  /* 副軸(水平)置中 */
  /* height: 70vh; */
  /* 自動抓取視窗高度 */
}

/* Filter */
#filter{
  margin-top: 25vh;
}
#filter h3{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: var(--accent-color);
}
#filter hr {
  margin: 24px 100px 24px 90px;
  width: 1750px;
  opacity: 30%;
}
.tag{
  width: 1733px;
  display: inline-flex;
  margin: 0 100px 0 140px;  
  /* justify-content: center; */
}
.tag p{
  margin: 0 36.5px 0 36.5px;
  color: var(--accent-color);
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  align-items: center;
  border:  2px solid var(--accent-color);
  border-radius: 50px;
  width: 160px;
  height: 50px;
}
.tag p:hover{
  color: var(--bg-color1);
  background-color: #5f6d37;
  transition: all 0.35s;
}


#restaurant{
  height: 200vh;
  margin-top: 200px;
}

/* 第一家店 */
.restaurant1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.restaurant1 img{
   margin-right: 130px;
    width: 662px;
    height: 511px;
}
.text1 {
    line-height: 20px;
}
.text1 h3{
    line-height: 30px;
    margin-bottom: 2vh;
    font-size: 20px;
    color: var(--major-color);
}
.text1 p{
    font-size: 15px;
    color: var(--text-color);
}

/* 第二家店 */
.restaurant2{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.restaurant2 img{
 margin-right: 130px;
  width: 662px;
  height: 511px;
}
.text2{
  line-height: 20px;
}
.text2 h3{
  line-height: 30px;
  margin-bottom: 2vh;
  font-size: 20px;
  color: var(--major-color);
}
.text2 p{
  font-size: 15px;
  color: var(--text-color);
}

/* 第三家店 */
.restaurant3{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.restaurant3 img{
 margin-right: 130px;
  width: 662px;
  height: 511px;
}
.text3{
  line-height: 20px;
}
.text3 h3{
  line-height: 30px;
  margin-bottom: 2vh;
  font-size: 20px;
  color: var(--major-color);
}
.text3 p{
  font-size: 15px;
  color: var(--text-color);
}

/* 第四家店 */
.restaurant4{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.restaurant4 img{
 margin-right: 130px;
  width: 662px;
  height: 511px;
}
.text4{
  line-height: 20px;
}
.text4 h3{
  line-height: 30px;
  margin-bottom: 2vh;
  font-size: 20px;
  color: var(--major-color);
}
.text4 p{
  font-size: 15px;
  color: var(--text-color);
}



/* FOOTER區 */
footer {
  /* line-height: 50px; 行高設定跟高度一樣可垂直置中 */
  text-align: center;
  margin-top:50vh ;
  height: 200px;
  background-color: var(--bg-color2);
  color: var(--second-color);
  padding: 20px 110px 50px 80px;
}

/* 有最上面的NAV，最下方的FOOTER就不用加，下面的是做練習做的 */
footer nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer .menu {
  display: flex;
  margin-top: 10px;
}

footer .menu a {
  color: var(--major-color);
}

footer .menu a::after {
  content: "";
  /* 沒內容也一定要寫上CONTENT這個屬性 */
  display: block;
  width: 0;
  height: 2px;
  margin-top: 3px;
  background-color: var(--major-color);
}

footer .menu a:hover::after {
  width: 100%;
  transition: 0.35s;
}

@media (max-width: 640px) {
  footer nav {
      flex-direction: column;
      align-items: center;
  }

  footer .menu {
      flex-direction: column;
  }
}